<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vrtuprovisionfunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/186698ec-bd4e-4af3-a857-4492ae6535fa/resourcegroups/V-RTU-Assets/providers/Microsoft.Web/sites/VRtuProvisionFunc</ResourceId>
    <UserName>$VRtuProvisionFunc</UserName>
    <_SavePWD>True</_SavePWD>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vrtuprovisionfunc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <DeployIisAppPath>VRtuProvisionFunc</DeployIisAppPath>
  </PropertyGroup>
</Project>